{% extends "mysite/base.html" %}
{% block content %}

  {% if logged_in == False %}
    <h2 class='item'><span class='detail'>{{sitesettings.advert}}</span></h2>
    <h2 class='item'><span class='detail'>{{sitesettings.contact_info}}</span></h2>
  {% endif %}

    {% if activeperson.status >= 60 %}
        {% if periodsought == 'current' %}
            <a class="btn btn-default" href="{% url 'noticedelete' %}" >Delete notice</span></a>
            <a class="btn btn-default" href="{% url 'noticeupdate' %}" >Insert/Change notice</span></a>
        {% endif %}
    {% endif %}

  {% if activeperson.status >= 30 %}
    {% if periodsought == 'current' %}
      <a class="btn btn-default" href="{% url 'eventinsert' %}" >
      <span>Add an event</span></a>
      <a class="btn btn-default" href="{% url 'eventlist' 'notcurrent' %}" >
      <span>View archived events</span></a>
    {% else %}
      <h1> Events that have either been deleted or have become outdated</h1>
      <a class="btn btn-default" href="{% url 'eventlist' 'current'  %}" >View current events</span></a>
    {% endif %}
  {% endif %}

  {% if activeperson.status >= 20 %}
    <a class="btn btn-default" href="{% url 'memberlist' %}"><span>View members</span></a>
  {% endif %}

  {% if activeperson.status >= 38 %}
    <a class="btn btn-default" href="{% url 'branchlist' %}"><span>View branches</span></a>
  {% endif %}



  {% if logged_in == True %}
    <p class="top-menu"><small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
  {% endif %}

  {% if activeperson.status >= 35 %}
    <a class="btn btn-default" href="{% url 'memberinsert' %}" > <span>Add a member</span></a>
  {% endif %}

  {% if activeperson.status >= 30 %}
    <a class="btn btn-default" href="{% url 'contactinsert' %}" ><span>Add a contact</span></a>
  {% endif %}

  {% if activeperson.status >= 20 %}
    <a class="btn btn-default" href="{% url 'password' %}"> <span>Change Your Password</span></a>
    <a class="btn btn-default" href="{% url 'displayname' %}"> <span>Change Your Displayed Name</span></a>
    <a class="btn btn-default" href="{% url 'usercolours' type='get' color='get' whence='events' %}"> <span>Colours</span></a>
  {% endif %}

  {% if activeperson.status >= 60 %}
    <a class="btn btn-default" href="{% url 'siteadmindetail' %}">
    <span>Admin</span></a>
  {% endif %}

  {% if activeperson.status >= 20 %}
    <a class="btn btn-default" href="{% url 'photolist' %}"><span>View photos</span></a>
  {% endif %}

  {% if activeperson.status >= 60 %}
    <a class="btn btn-default" href="{% url 'photolistdeleted' %}"><span>View deleted photos</span></a>
  {% endif %}

  {% if activeperson.status >= 20 %}
    <a class="btn btn-default" href="{% url 'photoinsert' %}"><span>Add photo</span></a>
  {% endif %}

  {% if activeperson.status >= 60 %}
    <a class="btn btn-default" href="{% url 'noteupdate' %}"><span>Update note</span></a>
  {% endif %}

  {% if activeperson.status >= 60 %}
    <a class="btn btn-default" href="{% url 'notedelete' %}"><span>Delete note</span></a>
  {% endif %}


   <hr>

  {% for x in events %}
    <h2>
    {% if activeperson.status >= 10 %}
        <span class='date'> {{ x.event.e_date|date:"l" }} {{ x.event.e_date|date:"jS F Y" }} </span>
    {% endif %}
    {% if x.user_can_edit_this_event == True %}
        {% if periodsought == 'current' %}
            <a class="btn btn-default" href="{% url 'bookinto' pk=x.event.pk %}">
            <span>Book in</span></a>
            <a class="btn btn-default" href="{% url 'leave' pk=x.event.pk %}">
            <span>Leave event</span></a>
            <a class="btn btn-default" href="{% url 'eventupdate' pk=x.event.pk %} ">
            <span>Change event</span></a>
            <a class="btn btn-default" href="{% url 'eventrepeat' pk=x.event.pk %} ">
            <span>Repeat event</span></a>
            <a class="btn btn-default" href="{% url 'hostsupdate' pk=x.event.pk %} ">
            <span>Update hosts</span></a>
            <a class="btn btn-default" href="{% url 'attendeesupdate' pk=x.event.pk %} ">
            <span>Update attendees</span></a>
            <a class="btn btn-default" href="{% url 'eventdelete' pk=x.event.pk %}">
            <span>Delete event</span></a>
        {% else %}
            {% if x.event_status_now == 'past'%}
                <a class="btn btn-default" href="{% url 'eventrepeat' pk=x.event.pk %} ">
                <span>Publish this event with a current date</span></a>
            {% else %}                                                                   {# i.e. event_status_now is 'live' or 'deletednonpast' #}
                <a class="btn btn-default" href="{% url 'eventrestore' pk=x.event.pk %} "><span>Restore this event</span></a>
                {% endif %}
                <a class="btn btn-default" href="{% url 'eventdeleteperm' pk=x.event.pk %} "> <span>Permanently delete  this event</span></a>
            {% endif %}
      {% else %}
          {% if periodsought == 'current' %}
              {% if activeperson.status >= 30 %}
                  <a class="btn btn-default" href="{% url 'bookinto' pk=x.event.pk %}"> <span>Book in</span></a>
                  <a class="btn btn-default" href="{% url 'leave' pk=x.event.pk %}"> <span>Leave event</span></a>
              {% elif activeperson.status >= 20 %}
                  <a class="btn btn-default" href="{% url 'bookinto' pk=x.event.pk %}"><span>Click here to book into this event</span></a>
                  <a class="btn btn-default" href="{% url 'leave' pk=x.event.pk %}"> <span>Click here to leave this event</span></a>
              {% endif %}
          {% endif %}
      {% endif %}

      <h2 class="item"><span class='detail'>{{ x.event.detail_public|linebreaks }}</span></h2>

      {% if activeperson.status >= 20 or sitesettings.private_site == False %}
          <h2 class="item"><span class='detail'>{{ x.event.detail_private|linebreaks }}</span></h2>
          <h2><span class='label'>Host(s):  </span>&nbsp;&nbsp;<span class='attendees'>{{ x.hosts }}    </span></a></h2>
          <h2><span class='label'>Attendees:</span>&nbsp;&nbsp;<span class='attendees'>{{ x.attendees }}</span></a></h2>
          {% if x.event.photo_cover %}
              <img src="{{ x.event.photo_cover.url}}", height="300", width="auto", alt="{{ x.event.detail_public }}">
          {% endif %}
      {% endif %}

      {% if activeperson.status >= 60 %}
          <h2><span class='label'>Author:</h2>
          {% for y in x.first_insert %}
              <h2><span class='label'> </span>
                  <a>&nbsp;&nbsp;<span class='attendees'> {{ y.name }}&nbsp;{{y.date}}</span></a></h2>
          {% endfor %}
          <h2><span class='label'>Amendments:</h2>
          {% for y in x.amendments %}
              <h2><span class='label'> </span>
                  <a>&nbsp;&nbsp;<span class='attendees'> {{ y.name }}&nbsp;{{y.date}}</span></a></h2>
          {% endfor %}
      {% endif %}

<hr>

      {% endfor %}

  <br><br><br>
  <h2>
  {% if logged_in == True %}
      <a class="btn btn-default" href="{% url 'unsubscribe' confirmed='no' %}"><span class='background' style="color:black" >Unsubscribe</span></a>
  {% endif %}
  </h2>

  <h2>

  </h2>
</body>

{% endblock content %}


