{% extends "mysite/base.html" %}
{% block content %}

<h1>Coffeepot photos</h1>
    <a class="btn btn-default" href="{% url 'eventlist' 'current'  %}" >View current events</span></a>
    <a class="btn btn-default" href="{% url 'photoinsert' %}"><span>Add photo</span></a>
<ul>
  {% for photo in photos %}
      <h2>{{ photo.title }}</h2>
      <a class="btn btn-default" href="{% url 'photoupdate' pk=photo.pk %}"><span>Update photo</span></a>
      <a class="btn btn-default" href="{% url 'photodelete' pk=photo.pk %}"><span>Delete photo</span></a>
          <img src="{{ photo.cover.url}}", height="300", width="auto", alt="{{ photo.title }}">
      </h2>
  {% endfor %}
</ul>

</body>
{% endblock content %}
{% comment %}
{% endcomment %}
