{% extends "mysite/base.html" %}

{% block content %}
    <h1>Change the name that is displayed when you book into an event</h1>
    {% if error_message %}
      <h2 class="error">{{error_message}}</h2>
    {% endif %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Put this display name on the website</button>
    </form>
    <a class="btn btn-default" href="{% url 'eventlist' 'current' %}">Cancel the change of display name and return to viewing events</a>   
{% endblock %}
