{% extends "mysite/base.html" %}

{% block content %}
    <h1>Change your password</h1>
    {% if error_message %}
      <h2 class="error">{{error_message}}</h2>
    {% endif %}
    <form method="POST" class="post-form">{% csrf_token %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.as_p }}
        <button type="submit" class="save btn btn-default">Make this your new password</button>
    </form>
    <a class="btn btn-default" href="{% url 'eventlist' 'current' %}">Cancel the change of password and return to viewing events</a>
    <h1> After clicking to change your password, you will be logged out, and you can then log in with your new password.</h1> 
    <h1> Note that if, after changing you password, you forget it, it is impossible to retrieve it or use your previous one as the system does not remember old passwords. It would be necessary to contact the committee, who can then delete your record and insert a fresh one, whose password you can then update.</h1>  
{% endblock %}


